
 <ul class="breadcrumb">

        <li><%=link_to "Setting",admin_setting_path%></li>

        <li><%=link_to "Branch List",branches_path%></a></li>

        <li class="active">Add Branch</li>

    </ul>
<%= render 'form' %>