<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your leave request from which start from date <%=@leave_details.start_date%> to <%=@leave_details.end_date%> has been approved.</p>
    <p>To track the leave login  <%=@lms_url%></p>
  </body>
</html>