<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your leave request start from date <%=@leave_details.start_date%> to <%=@leave_details.end_date%> has been rejected.</p>
    <p>The rejection cause is <h4><%=@leave_details.rejection_reason%></h4></p>
    <p>To track the leave login  <%=@lms_url%></p>
  </body>
</html>