 <ul class="breadcrumb">

        <li><%=link_to "Setting",admin_setting_path%></li>

        <li><%=link_to "Department List",departments_path%></a></li>

        <li class="active">Edit Department</li>

    </ul>
<%= render 'form' %>