<ul class="list-group">
  <li class="list-group-item list-group-item-success"><h3><%=link_to "Employee Master", users_path%></h3></li>
  <li class="list-group-item list-group-item-info"><h3><%=link_to "Department", departments_path%></h3></li>
  <li class="list-group-item list-group-item-warning"><h3><%=link_to "Group", groups_path%></h3></li>
  <li class="list-group-item list-group-item-danger"><h3><%=link_to "Branch", branches_path%></h3></li>
</ul>
