.goalProgress {
	background: #FFFFE7;
	padding: 5px;
	height:40px;
	width:600px;
	border-radius: 20px ;
	border: 1px solid #F79218;

}
div.progressBar {
	background: #F75563;
	color: blue;
	font-size: 1.3em;
	letter-spacing: -1px;
	font-weight: 200;
	padding: 2px;
	display: block;
	overflow: hidden;
	width: 20px;
	border-radius: 20px ;
	color:#21517B;
}
span.goalAmount {
	display: none;
	text-indent: -9999px;
}